@page "{searchString?}"
@model ssd_assignment_team1_draft1.Pages.Audit.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Audit Action: <select asp-for="AuditAction">
            <option value="">All</option>
            <option value="Login">Login</option>
            <option value="Logout">Logout</option>
            <option value="Software">Add/Edit/Delete Software Record</option>
            <option value="Role">Add/Edit/Delete/Manage Role</option>
            <option value="llocated a Role">Allocate/Deallocate Role</option>
        </select>
        User Email: <input type="email" asp-for="SearchName" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].AuditActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].DateTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].KeySoftwareFieldID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuditRecord) {
        <tr>
            <td>
                @item.AuditActionType
            </td>
            <td>
                @item.Username
            </td>
            <td>
                @item.DateTimeStamp
            </td>
            <td>
                @item.KeySoftwareFieldID
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Audit_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Audit_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Audit_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
