@page
@model ssd_assignment_team1_draft1.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.Hash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.Hash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Software.WarrantyPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Software.WarrantyPeriod)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Software.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
